.CustomerList {
    position: relative;
}
.Customers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.CustomerList > .addCustomer {
    text-decoration: none;
    background-color: slateblue; 
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
.CustomerList > h2 {
    margin-top: 2rem;
}